<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#upload-modal">
  Импорт
</button>

<div class="modal fade" id="upload-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Импорт данных из XML-файла</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="formFile" class="form-label">Выберите файл</label>
          <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event)" accept="text/xml">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSend()">Отправить</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>
